# **Setup**

In [3]:
pip install researchpy

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.4.1)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.5.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.10.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [14]:
import pandas as pd
import researchpy as rp
import scipy.stats as stats

# **Collect & Prepare Data**

In [24]:
df = pd.read_csv("ABTesting_Gr2_Final.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   Gender                                                     50 non-null     object
 1   Age                                                        50 non-null     int64
 2   Purpose of these pens                                      50 non-null     object
 3   Please rank the satisfaction score (5 = Very Satisfied)    50 non-null     int64
 4   Please rank the satisfaction score (5 = Very Satisfied).1  50 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

**data form questionnaire that we ask which color of pen that you like (score 1-5) and also colect gender, age and purpose of these pens.**

In [16]:
df['purpose'] = df['Purpose of these pens']
df['orange'] = df['Please rank the satisfaction score (5 = Very Satisfied)']
df['turquoise'] = df['Please rank the satisfaction score (5 = Very Satisfied).1']

df.drop('Purpose of these pens',
  axis='columns', inplace=True)
df.drop('Please rank the satisfaction score (5 = Very Satisfied)',
  axis='columns', inplace=True)
df.drop('Please rank the satisfaction score (5 = Very Satisfied).1',
  axis='columns', inplace=True)

In [17]:
df.head()

  Gender  Age purpose  orange  turquoise
0   Male   37   Study       3          5
1   Male   26   Study       1          5
2   Male   24   Study       5          2
3   Male   23   Study       2          4
4   Male   25   Study       3          5

# **Paired T-Test**

we use t-test to find different between orange pen and orange pen.
After that, we try to add more condition to find more insight.

In [18]:
rp.ttest(group1= df['orange'], group1_name= "orange",
         group2= df['turquoise'], group2_name= "turquoise", paired= True)

(    Variable     N  Mean        SD        SE  95% Conf.  Interval
 0     orange  50.0  3.14  1.195399  0.169055   2.800271  3.479729
 1  turquoise  50.0  4.14  0.969115  0.137054   3.864581  4.415419
 2       diff  50.0 -1.00  1.428571  0.202031  -1.405996 -0.594004,
                 Paired samples t-test  results
 0  Difference (orange - turquoise) =   -1.0000
 1               Degrees of freedom =   49.0000
 2                                t =   -4.9497
 3            Two side test p value =    0.0000
 4           Difference < 0 p value =    0.0000
 5           Difference > 0 p value =    1.0000
 6                        Cohen's d =   -0.9240
 7                        Hedge's g =   -0.9169
 8                    Glass's delta =   -0.8365
 9                      Pearson's r =    0.5774)

From T-Test, there are different between 2 colours of pens and turquoise score is more than oragne score at significant 0.01

## Gender effect

In [19]:
rp.ttest(group1= df['orange'][df['Gender'] == 'Male'], group1_name= "orange.m",
         group2= df['turquoise'][df['Gender'] == 'Male'], group2_name= "turquoise.m")

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0     orange.m  32.0  3.187500  1.119836  0.197961   2.783756  3.591244
 1  turquoise.m  32.0  4.218750  0.870090  0.153812   3.905049  4.532451
 2     combined  64.0  3.703125  1.122351  0.140294   3.422770  3.983480,
                        Independent t-test  results
 0  Difference (orange.m - turquoise.m) =   -1.0312
 1                   Degrees of freedom =   62.0000
 2                                    t =   -4.1136
 3                Two side test p value =    0.0001
 4               Difference < 0 p value =    0.0001
 5               Difference > 0 p value =    0.9999
 6                            Cohen's d =   -1.0284
 7                            Hedge's g =   -1.0159
 8                        Glass's delta =   -0.9209
 9                          Pearson's r =    0.4630)

In [20]:
rp.ttest(group1= df['orange'][df['Gender'] == 'Female'], group1_name= "orange.f",
         group2= df['turquoise'][df['Gender'] == 'Female'], group2_name= "turquoise.f")

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0     orange.f  18.0  3.055556  1.349171  0.318003   2.384629  3.726482
 1  turquoise.f  18.0  4.000000  1.137593  0.268133   3.434288  4.565712
 2     combined  36.0  3.527778  1.319873  0.219979   3.081197  3.974358,
                        Independent t-test  results
 0  Difference (orange.f - turquoise.f) =   -0.9444
 1                   Degrees of freedom =   34.0000
 2                                    t =   -2.2705
 3                Two side test p value =    0.0296
 4               Difference < 0 p value =    0.0148
 5               Difference > 0 p value =    0.9852
 6                            Cohen's d =   -0.7568
 7                            Hedge's g =   -0.7400
 8                        Glass's delta =   -0.7000
 9                          Pearson's r =    0.3629)

Gender is no effect

## Purpose of purchasing Effect

In [22]:
rp.ttest(group1= df['orange'][df['purpose'] == 'Study'], group1_name= "orange.s",
         group2= df['turquoise'][df['purpose'] == 'Study'], group2_name= "turquoise.s")

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0     orange.s  18.0  2.888889  1.367217  0.322256   2.208988  3.568790
 1  turquoise.s  18.0  4.055556  1.258955  0.296739   3.429492  4.681619
 2     combined  36.0  3.472222  1.424001  0.237333   2.990410  3.954035,
                        Independent t-test  results
 0  Difference (orange.s - turquoise.s) =   -1.1667
 1                   Degrees of freedom =   34.0000
 2                                    t =   -2.6632
 3                Two side test p value =    0.0117
 4               Difference < 0 p value =    0.0059
 5               Difference > 0 p value =    0.9941
 6                            Cohen's d =   -0.8877
 7                            Hedge's g =   -0.8680
 8                        Glass's delta =   -0.8533
 9                          Pearson's r =    0.4155)

In [23]:
rp.ttest(group1= df['orange'][df['purpose'] == 'Work'], group1_name= "orange.w",
         group2= df['turquoise'][df['purpose'] == 'Work'], group2_name= "turquoise.w")

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0     orange.w  32.0  3.281250  1.084625  0.191736   2.890201  3.672299
 1  turquoise.w  32.0  4.187500  0.780302  0.137939   3.906171  4.468829
 2     combined  64.0  3.734375  1.042619  0.130327   3.473937  3.994813,
                        Independent t-test  results
 0  Difference (orange.w - turquoise.w) =   -0.9062
 1                   Degrees of freedom =   62.0000
 2                                    t =   -3.8368
 3                Two side test p value =    0.0003
 4               Difference < 0 p value =    0.0001
 5               Difference > 0 p value =    0.9999
 6                            Cohen's d =   -0.9592
 7                            Hedge's g =   -0.9476
 8                        Glass's delta =   -0.8355
 9                          Pearson's r =    0.4380)

purpose of purchasing is no effect

# **Conclusion**

**from T-Test, we found that people like turquoise pen more than orange and purpose of purchasing and gender is no effect**