# **Preparation**

In [ ]:
pip install researchpy

Requirement already satisfied: researchpy in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.10.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.4.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from researchpy) (1.1.5)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from researchpy) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->researchpy) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)

In [ ]:
import pandas as pd
import researchpy as rp
import scipy.stats as stats

In [ ]:
df = pd.read_csv("/content/ABTesting_Gr2_Final.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   ประทับเวลา                                                 50 non-null     object
 1   Gender                                                     50 non-null     object
 2   Age                                                        50 non-null     int64
 3   Purpose of these pens                                      50 non-null     object
 4   Please rank the satisfaction score (5 = Very Satisfied)    50 non-null     int64
 5   Please rank the satisfaction score (5 = Very Satisfied).1  50 non-null     int64
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

**data form questionnaire that we ask which color of pen that you like (score 1-5) and also colect gender, age and purpose of these pens.**

In [ ]:
df['orange'] = df['Please rank the satisfaction score (5 = Very Satisfied)']
df['turquoise'] = df['Please rank the satisfaction score (5 = Very Satisfied).1']
df.drop('Please rank the satisfaction score (5 = Very Satisfied)',
  axis='columns', inplace=True)
df.drop('Please rank the satisfaction score (5 = Very Satisfied).1',
  axis='columns', inplace=True)
df.drop('ประทับเวลา',
  axis='columns', inplace=True)

In [ ]:
df

    Gender  Age Purpose of these pens  orange  turquoise
0     Male   37                 Study       3          5
1     Male   26                 Study       1          5
2     Male   24                 Study       5          2
3     Male   23                 Study       2          4
4     Male   25                 Study       3          5
5     Male   27                  Work       2          4
6     Male   32                  Work       2          5
7     Male   24                  Work       1          5
8     Male   27                 Study       3          5
9     Male   25                 Study       1          5
10  Female   23                 Study       3          3
11    Male   24                  Work       3          4
12    Male   27                  Work       2          4
13    Male   28                  Work       3          5
14    Male   23                  Work       5          5
15    Male   24                  Work       3          4
16    Male   25                 Study       4          4
17    Male   42                  Work       3          3
18  Female   23                 Study       4          5
19  Female   25                 Study       4          5
20    Male   25                  Work       4          4
21    Male   23                  Work       5          5
22    Male   22                  Work       4          3
23    Male   39                  Work       4          4
24  Female   24                  Work       1          5
25  Female   27                  Work       3          3
26  Female   24                  Work       5          4
27  Female   23                 Study       5          5
28    Male   39                  Work       4          4
29  Female   23                  Work       4          5
30  Female   24                  Work       5          5
31    Male   24                  Work       4          5
32    Male   23                  Work       3          3
33  Female   25                 Study       1          1
34  Female   24                  Work       3          5
35    Male   25                  Work       3          4
36    Male   37                  Work       4          5
37  Female   29                 Study       1          3
38    Male   27                  Work       4          2
39  Female   23                 Study       2          3
40    Male   21                  Work       3          5
41  Female   24                  Work       2          4
42  Female   23                 Study       2          3
43  Female   27                  Work       3          4
44    Male   24                 Study       4          5
45    Male   26                  Work       4          4
46    Male   24                  Work       2          4
47    Male   23                  Work       4          4
48  Female   28                  Work       3          4
49  Female   25                 Study       4          5

# T-TEST!

we use t-test to find different between orange pen and orange pen.
After that, we try to add more condition to find more insight.

In [ ]:
rp.ttest(group1= df['orange'], group1_name= "orange",
         group2= df['turquoise'], group2_name= "turquoise", paired= True)

(    Variable     N  Mean        SD        SE  95% Conf.  Interval
 0     orange  50.0  3.14  1.195399  0.169055   2.800271  3.479729
 1  turquoise  50.0  4.14  0.969115  0.137054   3.864581  4.415419
 2       diff  50.0 -1.00  1.428571  0.202031  -1.405996 -0.594004,
                 Paired samples t-test  results
 0  Difference (orange - turquoise) =   -1.0000
 1               Degrees of freedom =   49.0000
 2                                t =   -4.9497
 3            Two side test p value =    0.0000
 4           Difference < 0 p value =    0.0000
 5           Difference > 0 p value =    1.0000
 6                        Cohen's d =   -0.9240
 7                        Hedge's g =   -0.9169
 8                    Glass's delta =   -0.8365
 9                      Pearson's r =    0.5774)

In [ ]:
rp.ttest(group1= df['orange'][df['Gender'] == 'Male'], group1_name= "orange.m",
         group2= df['orange'][df['Gender'] == 'Female'], group2_name= "orange.f")

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  orange.m  32.0  3.187500  1.119836  0.197961   2.783756  3.591244
 1  orange.f  18.0  3.055556  1.349171  0.318003   2.384629  3.726482
 2  combined  50.0  3.140000  1.195399  0.169055   2.800271  3.479729,
                     Independent t-test  results
 0  Difference (orange.m - orange.f) =    0.1319
 1                Degrees of freedom =   48.0000
 2                                 t =    0.3713
 3             Two side test p value =    0.7120
 4            Difference < 0 p value =    0.6440
 5            Difference > 0 p value =    0.3560
 6                         Cohen's d =    0.1094
 7                         Hedge's g =    0.1077
 8                     Glass's delta =    0.1178
 9                       Pearson's r =    0.0535)

In [ ]:
rp.ttest(group1= df['turquoise'][df['Gender'] == 'Male'], group1_name= "turquoise.m",
         group2= df['turquoise'][df['Gender'] == 'Female'], group2_name= "turquoise.f")

(      Variable     N     Mean        SD        SE  95% Conf.  Interval
 0  turquoise.m  32.0  4.21875  0.870090  0.153812   3.905049  4.532451
 1  turquoise.f  18.0  4.00000  1.137593  0.268133   3.434288  4.565712
 2     combined  50.0  4.14000  0.969115  0.137054   3.864581  4.415419,
                           Independent t-test  results
 0  Difference (turquoise.m - turquoise.f) =    0.2188
 1                      Degrees of freedom =   48.0000
 2                                       t =    0.7628
 3                   Two side test p value =    0.4493
 4                  Difference < 0 p value =    0.7754
 5                  Difference > 0 p value =    0.2246
 6                               Cohen's d =    0.2248
 7                               Hedge's g =    0.2212
 8                           Glass's delta =    0.2514
 9                             Pearson's r =    0.1094)

In [ ]:
rp.ttest(group1= df['orange'][df['Purpose of these pens'] == 'Study'], group1_name= "orange.s",
         group2= df['orange'][df['Purpose of these pens'] == 'Work'], group2_name= "orange.w")

(   Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  orange.s  18.0  2.888889  1.367217  0.322256   2.208988  3.568790
 1  orange.w  32.0  3.281250  1.084625  0.191736   2.890201  3.672299
 2  combined  50.0  3.140000  1.195399  0.169055   2.800271  3.479729,
                     Independent t-test  results
 0  Difference (orange.s - orange.w) =   -0.3924
 1                Degrees of freedom =   48.0000
 2                                 t =   -1.1168
 3             Two side test p value =    0.2696
 4            Difference < 0 p value =    0.1348
 5            Difference > 0 p value =    0.8652
 6                         Cohen's d =   -0.3291
 7                         Hedge's g =   -0.3239
 8                     Glass's delta =   -0.2870
 9                       Pearson's r =    0.1591)

In [ ]:
rp.ttest(group1= df['turquoise'][df['Purpose of these pens'] == 'Study'], group1_name= "turquoise.s",
         group2= df['turquoise'][df['Purpose of these pens'] == 'Work'], group2_name= "turquoise.w")

(      Variable     N      Mean        SD        SE  95% Conf.  Interval
 0  turquoise.s  18.0  4.055556  1.258955  0.296739   3.429492  4.681619
 1  turquoise.w  32.0  4.187500  0.780302  0.137939   3.906171  4.468829
 2     combined  50.0  4.140000  0.969115  0.137054   3.864581  4.415419,
                           Independent t-test  results
 0  Difference (turquoise.s - turquoise.w) =   -0.1319
 1                      Degrees of freedom =   48.0000
 2                                       t =   -0.4584
 3                   Two side test p value =    0.6488
 4                  Difference < 0 p value =    0.3244
 5                  Difference > 0 p value =    0.6756
 6                               Cohen's d =   -0.1350
 7                               Hedge's g =   -0.1329
 8                           Glass's delta =   -0.1048
 9                             Pearson's r =    0.0660)

# **Conclusion**

**from T-Test, we found that people like turquoise pen more than orange significant at 0.01**